.gridContainer{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100vw;
    height: auto;
    /* background-color: #8C030E ; */
    color: #C49C18;
    
    
}